{% extends 'main.html' %}

{% block content %}

<style>
    .homeContainer{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="homeContainer">
    <div class="navigation">
        <h3>Browse Categories</h3>
        <hr>
        {% for category in categorys %}
        <div class="category">
            {{category.id}} <h5> <a href="{% url 'category' category.id %}">{{category.name}}</a> </h5>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="mainPage">    
        <a href="{% url 'addProduct' %}">Add Product</a>
        <a href="{% url 'addCategory' %}">Add Category</a>
        <div class="Products">
    
            {% for product in products %}
            <div class="product">  
                <!-- <h2> {{product.id}} --|> <a href="/product/{{product.id}}"> {{product.name}} </a></h2> -->
                <!-- above works fine but to make sure it is not affected by change of url name and works 
                with name provoded below is a better solution-->
    
                {{product.id}} ==|><h2 style="display: flex; justify-content: space-between;"> <a href="{% url 'product' product.id %}"> {{product.name}} </a>  <a href="{% url 'addReview' %}">Add Review</a></h2>
                {% for review in reviews%}
                    {%if review.product.id == product.id%}
                        <span style="display: flex; justify-content:space-around; "> {{review.user}} {{review.star}} </span><br>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'updateProduct' product.id %}">Edit</a>
                <a href="{% url 'deleteProduct' product.id %}">Delete</a>
            </div>
            <hr>
            {% endfor %}
    
        </div>
    </div>
</div>

{% endblock content %}