{% extends 'main.html' %}

{% block content %}

<style>
    .homeContainer{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="homeContainer">
    <div class="navigation">
        <h3>Browse Categories</h3>
        <hr>
        {% for category in categorys %}
        <div class="category">
            <h2> {{category.name}} </h2>
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="mainPage">    
        <a href="{% url 'addProduct' %}">Add Product</a>
        <a href="{% url 'addCategory' %}">Add Category</a>
        <div class="Products">
    
            {% for product in products %}
            <div class="product">  
                <!-- <h2> {{product.id}} --|> <a href="/product/{{product.id}}"> {{product.name}} </a></h2> -->
                <!-- above works fine but to make sure it is not affected by change of url name and works 
                with name provoded below is a better solution-->
    
                <h2> {{product.id}} ==|> <a href="{% url 'product' product.id %}"> {{product.name}} </a> </h2>
                <a href="{% url 'updateProduct' product.id %}">Edit</a>
                <a href="{% url 'deleteProduct' product.id %}">Delete</a>
            </div>
            <hr>
            {% endfor %}
    
        </div>
    </div>
</div>

{% endblock content %}