{%extends 'main.html'%}

{%block content%}
    {% if page == 'login' %}
    <div>
        <form action="" method="post">
            {%csrf_token%}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter username" />
            
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">
            
            <input type="submit" value="Submit" />
        </form>
        <div>
            <span>Haven't signed up yet?</span>
            <a href="{% url 'register' %}">Register</a>
        </div>

    </div>
    {% else %}
    <div>
        <form action="" method="post">
            {%csrf_token%}

            {{form.as_p}}
            <input type="submit" value="Register" />
        </form>
        <div>
            <span>Already signed up?</span>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
    {% endif %}
{% endblock content %}