{% extends 'main.html' %}

{% block content %}

<h1> {{product.name}} </h1>
<span>Rs. {{product.price}} </span> <br>
<span> Placed by: @{{product.user}} </span> <br>
<span>Category: {{product.category.name}}</span><br>
<span>Last Updated: {{product.updatedDate}} </span> <br>
<span>Description: {{product.productDescription}}</span>
<h4>Reviews</h4>
{% for review in reviews %}
    <div>
        <div style = "display: flex; justify-content: space-evenly;" >
            <span> {{review.user}} </span>
            <span> {{review.star}} </span>
        </div>
    </div>
    <p> {{review.comment}} </p>
{% endfor %}

{% endblock content %}